* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing:antialiased;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #0a1612;
  font-family: 'Poppins';
  position: relative;
  overflow-x: hidden;
  height: 100vh;

  background-image: url('./assets/imgs/FundoEstrelas.jpg');
  background-size: contain;
  background-blend-mode:color-dodge;
  background-color: #0a1612;
}

.flex {
  display: flex;
}

/*INICIO DA MARCACÃO NO TOPO DA PÁGINA*/


#marcacao {
  position: relative;
  align-items: center;
  line-height: 3.5rem;
  color: #f9f6f2;
  background: hsl(160, 38%, 20%);
}

#marcacao,
#marcacao .marcacao-inputs select {
  font-family: 'Poppins';
  font-size: 1.1rem;
  color: #f9f6f2;
}

#marcacao p {
  margin: auto;
  letter-spacing: .2rem;
}

#marcacao .marcacao-inputs {
  position: absolute;
  top: 0;
  right: 5rem;
}

.marcacao-inputs select {
  width: 16rem;
  border: none;
  background: none;
}

/*FIM DA MARCAÇÃO NO TOPO DA PÁGINA*/



/*INICIO DO HEADER*/


header {
  background: #f9f6f2;
  background-image: url('./assets/imgs/texturaGrain.jpeg');
  background-blend-mode:difference;
  color: #0a1612;
  height: 8.5rem;
  display: grid;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px rgba(128, 128, 128, 0.195) solid;
  font-size: 1.3rem;
  position: sticky;
  z-index: 10;
  top: 0;
}

header.sombraSticky {

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.195);
}

#logo {
  font-size: 3rem;
  font-family: 'Abril Fatface';
  letter-spacing: .5rem;
}

nav {
  width: 100rem;
  text-align: center;
}

nav a {
  padding: 1rem 2rem;
  text-decoration: none;
  color: #0a1612;
  transition-property: all;
  transition-duration: 300ms;
}

nav a:hover {
  color: #f9f6f2;
  background: #0a1612;
}

#icons a {
  text-decoration: none;
  color: #0a1612;
  font-size: 2.5rem;
  padding: 0 1rem;
}




/*FIM DO HEADER*/


/*INICIO DO MAIN*/
section {
  display: grid;
  justify-content: space-evenly;
}



header+h1 {
  margin: 3.2rem 0 8rem;
  font-size: 3.5rem;
  font-weight: 600;
  color: #f9f6f2;
  text-align: center;
  text-transform: capitalize;
}


.shelf {
  width: 30rem;
  display: grid;
  justify-content: center;
  position: relative;
  margin-bottom: 8rem;
}

.shelf img {
  position: relative;
  top: 35px;
  display: grid;
  justify-self: center;
  width: 25rem;
  object-fit: contain;
  aspect-ratio: 1/1;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.shelf img:hover {
  transform: scale(1.1);
  filter: brightness(110%);
}

.shelf-items {
  border-radius: 1rem;
  padding-top: 5rem;
  z-index: -1;
  position: relative;
  display: grid;
  text-align: center;
  height: 25rem;
  width: 30rem;
  background-color: #f9f6f2;
  background-image: url('./assets/imgs/texturaGrain.jpeg');
  background-blend-mode:difference;
  bottom: 0;
}

.shelf-items>h1 {
  font-size: 2rem;
  color: #292929;
  text-align: center;
}

.shelf-items p {
  font-size: 1.2rem;
  line-height: 0;
  color: #555;
}

.shelf-items .btn {
  letter-spacing: .1rem;
  width: 15rem;
  display: grid;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: #f9f6f2;
  background: #272727;
  border: none;
  margin-bottom: 2rem;
}

.section2 {
  opacity: 0;
  width: 100rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  color: #f9f6f2;
}

.section2 img {
  width: 30rem;
  object-fit: cover;
}

.section2 p {
  font-size: 3rem;
}

.section2 p::first-letter {
  font-size: 6rem;
  font-family: 'Abril Fatface';
}
.section3 {
  opacity: 0;
  background: #f9f6f2;
  margin: 10rem auto 10rem;
  width: 100%;
  height: 40rem;
  box-shadow: 0px 0px 20px black;
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  background-image: url('./assets/imgs/texturaPapel.jpeg');
  background-size: contain;
  background-blend-mode:multiply;
}
.section3 .imagens {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem
}
.section3 .imagens img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  box-shadow: 0px 1px 4px black;
}
.padraoQualidade {
  display: grid;
  position: absolute;
  font-size: 2rem;
  background: #0a1612;
  color: #f9f6f2;
  padding: 1.8rem;
  box-shadow: 0px 4px 4px black;
  transition-property: transform;
  transition-duration: 600ms;
  transition-timing-function: ease;

}
.padraoQualidade:hover {
  transform: scale(1.1);
}


.section4 {
  opacity: 0;
  margin: 10rem auto 10rem;
  width: 100%;
}

.section4 img {
  width: 50rem;
  filter: drop-shadow(0px 16px 10px black);
  margin: 8rem 0 8rem;
}

.section4 p {
  font-size: 3rem;
  width: 30rem;
  color: white;
}
.section4 img + p {
  display: grid;
  font-size: 2rem;
  align-items: flex-end;
}
.section4 div> p {
  background-color:#f9f6f2;
  background-image: url('./assets/imgs/texturaGrain.jpeg');
  background-blend-mode:difference;
  color: #0a1612;
  padding: 2rem;
  display: grid;
  border-radius: 2rem 0rem 2rem 0rem;
  text-align: center;
}

.section4 {
  opacity: 0;
}
.section3.show,
.section2.show,
.section4.show {
  opacity: 1;
  animation-name: show;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards
}



@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/*FIM DO MAIN*/

/*INICIO DO FOOTER*/

.penultimate {
  width: 100%;
  background: hsl(0, 0%, 6%);
  background-image: url('./assets/imgs/texturaGrain.jpeg');
  background-blend-mode:color-dodge;
  background-size: contain;
  height: 30rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.follow > h1 {
  color: #f9f6f2;
  
}
.copyright {
  font-size: 5rem;
  color: #f9f6f2;
}
.copyright a{
  padding:0 1rem;
  text-decoration: none;
  color: #f9f6f2;
  transition: all 600ms;
}
.copyright a li:hover {
  color: black;
}

footer {
  width: 100%;
  background: hsl(160, 38%, 5%);
  background-image: url('./assets/imgs/texturaGrain.jpeg');
  background-blend-mode:color-dodge;
  background-size: contain;
  height: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

footer p {
  color: #f9f6f2;
  font-size: 1.4rem;
  padding: 1rem;
}

/*FIM DO FOOTER*/